
<div class="row g-3 mb-3">
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">Bar chart with negative value</h5>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                            <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-6c18873d-33db-43a2-936d-c78bf6b4f954" type="button" role="tab" aria-controls="dom-6c18873d-33db-43a2-936d-c78bf6b4f954" aria-selected="true" id="tab-dom-6c18873d-33db-43a2-936d-c78bf6b4f954">Preview</button>
                            <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-b67068d6-d88c-490b-af42-4e39ab50bd0a" type="button" role="tab" aria-controls="dom-b67068d6-d88c-490b-af42-4e39ab50bd0a" aria-selected="false" id="tab-dom-b67068d6-d88c-490b-af42-4e39ab50bd0a">Code</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-body-tertiary">
                <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-6c18873d-33db-43a2-936d-c78bf6b4f954" id="dom-6c18873d-33db-43a2-936d-c78bf6b4f954">
                        <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-negative-chart.js-->
                        <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                        <div class="echart-bar-chart-negative-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-b67068d6-d88c-490b-af42-4e39ab50bd0a" id="dom-b67068d6-d88c-490b-af42-4e39ab50bd0a">
                        <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-negative-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-bar-chart-negative-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">Series bar chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                            <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-7cdf92eb-bf31-425b-9c09-233f41f03fbe" type="button" role="tab" aria-controls="dom-7cdf92eb-bf31-425b-9c09-233f41f03fbe" aria-selected="true" id="tab-dom-7cdf92eb-bf31-425b-9c09-233f41f03fbe">Preview</button>
                            <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-579ea068-2629-4ed9-bfcb-dd91d34c070e" type="button" role="tab" aria-controls="dom-579ea068-2629-4ed9-bfcb-dd91d34c070e" aria-selected="false" id="tab-dom-579ea068-2629-4ed9-bfcb-dd91d34c070e">Code</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-body-tertiary">
                <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-7cdf92eb-bf31-425b-9c09-233f41f03fbe" id="dom-7cdf92eb-bf31-425b-9c09-233f41f03fbe">
                        <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-series-chart.js-->
                        <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                        <div class="echart-bar-chart-series-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-579ea068-2629-4ed9-bfcb-dd91d34c070e" id="dom-579ea068-2629-4ed9-bfcb-dd91d34c070e">
                        <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-series-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-bar-chart-series-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-3 mb-3">
    <div class="col-lg-6">
        <div class="card h-100" dir="ltr">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">Stacked chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                            <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-77fdbabf-ff92-4235-8969-beb4019e5a31" type="button" role="tab" aria-controls="dom-77fdbabf-ff92-4235-8969-beb4019e5a31" aria-selected="true" id="tab-dom-77fdbabf-ff92-4235-8969-beb4019e5a31">Preview</button>
                            <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-848cdf8c-a5b6-4b9b-8593-027ce4a9cae6" type="button" role="tab" aria-controls="dom-848cdf8c-a5b6-4b9b-8593-027ce4a9cae6" aria-selected="false" id="tab-dom-848cdf8c-a5b6-4b9b-8593-027ce4a9cae6">Code</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-body-tertiary">
                <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-77fdbabf-ff92-4235-8969-beb4019e5a31" id="dom-77fdbabf-ff92-4235-8969-beb4019e5a31">
                        <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-stacked-chart.js-->
                        <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                        <div class="echart-bar-stacked-chart-example" style="min-height: 350px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-848cdf8c-a5b6-4b9b-8593-027ce4a9cae6" id="dom-848cdf8c-a5b6-4b9b-8593-027ce4a9cae6">
                        <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-stacked-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-bar-stacked-chart-example&quot; style=&quot;min-height: 350px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">Stacked horizontal bar chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                            <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-51a9de91-65ff-445b-bc13-3af24f473e07" type="button" role="tab" aria-controls="dom-51a9de91-65ff-445b-bc13-3af24f473e07" aria-selected="true" id="tab-dom-51a9de91-65ff-445b-bc13-3af24f473e07">Preview</button>
                            <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-00dbe6ce-60b0-49b8-a004-6ec8c7c3423d" type="button" role="tab" aria-controls="dom-00dbe6ce-60b0-49b8-a004-6ec8c7c3423d" aria-selected="false" id="tab-dom-00dbe6ce-60b0-49b8-a004-6ec8c7c3423d">Code</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-body-tertiary">
                <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-51a9de91-65ff-445b-bc13-3af24f473e07" id="dom-51a9de91-65ff-445b-bc13-3af24f473e07">
                        <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/stacked-horizontal-bar-chart.js-->
                        <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                        <div class="echart-horizontal-stacked-chart-example" style="min-height: 350px;" data-echart-responsive="true"> </div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-00dbe6ce-60b0-49b8-a004-6ec8c7c3423d" id="dom-00dbe6ce-60b0-49b8-a004-6ec8c7c3423d">
                        <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/stacked-horizontal-bar-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-horizontal-stacked-chart-example&quot; style=&quot;min-height: 350px;&quot; data-echart-responsive=&quot;true&quot;&gt; &lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-3 mb-3">
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">Bar race chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                            <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-c590313c-9781-470e-b6fb-104adb318bb4" type="button" role="tab" aria-controls="dom-c590313c-9781-470e-b6fb-104adb318bb4" aria-selected="true" id="tab-dom-c590313c-9781-470e-b6fb-104adb318bb4">Preview</button>
                            <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-ac4d2546-c288-49f6-a456-21f76da43e03" type="button" role="tab" aria-controls="dom-ac4d2546-c288-49f6-a456-21f76da43e03" aria-selected="false" id="tab-dom-ac4d2546-c288-49f6-a456-21f76da43e03">Code</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-body-tertiary">
                <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-c590313c-9781-470e-b6fb-104adb318bb4" id="dom-c590313c-9781-470e-b6fb-104adb318bb4">
                        <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-race-chart.js-->
                        <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                        <div class="echart-bar-race-chart-example" style="min-height: 350px;" data-echart-responsive="true"> </div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ac4d2546-c288-49f6-a456-21f76da43e03" id="dom-ac4d2546-c288-49f6-a456-21f76da43e03">
                        <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-race-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-bar-race-chart-example&quot; style=&quot;min-height: 350px;&quot; data-echart-responsive=&quot;true&quot;&gt; &lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">Gradient bar chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                            <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-aa56517b-c83c-4987-97a5-153e96bc078b" type="button" role="tab" aria-controls="dom-aa56517b-c83c-4987-97a5-153e96bc078b" aria-selected="true" id="tab-dom-aa56517b-c83c-4987-97a5-153e96bc078b">Preview</button>
                            <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-7221389c-c20d-48bc-be5a-5d05231a0cba" type="button" role="tab" aria-controls="dom-7221389c-c20d-48bc-be5a-5d05231a0cba" aria-selected="false" id="tab-dom-7221389c-c20d-48bc-be5a-5d05231a0cba">Code</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-body-tertiary">
                <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-aa56517b-c83c-4987-97a5-153e96bc078b" id="dom-aa56517b-c83c-4987-97a5-153e96bc078b">
                        <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/gradient-bar-chart.js-->
                        <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                        <div class="echart-gradient-bar-chart-example" style="min-height: 350px;" data-echart-responsive="true"> </div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-7221389c-c20d-48bc-be5a-5d05231a0cba" id="dom-7221389c-c20d-48bc-be5a-5d05231a0cba">
                        <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/gradient-bar-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-gradient-bar-chart-example&quot; style=&quot;min-height: 350px;&quot; data-echart-responsive=&quot;true&quot;&gt; &lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-3 mb-3">
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">Mixed chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                            <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-0d8f8852-2ac7-425c-8074-80706dda6fb6" type="button" role="tab" aria-controls="dom-0d8f8852-2ac7-425c-8074-80706dda6fb6" aria-selected="true" id="tab-dom-0d8f8852-2ac7-425c-8074-80706dda6fb6">Preview</button>
                            <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-b5e61446-bdf5-4de6-861b-b6dfc62d79ad" type="button" role="tab" aria-controls="dom-b5e61446-bdf5-4de6-861b-b6dfc62d79ad" aria-selected="false" id="tab-dom-b5e61446-bdf5-4de6-861b-b6dfc62d79ad">Code</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-body-tertiary">
                <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-0d8f8852-2ac7-425c-8074-80706dda6fb6" id="dom-0d8f8852-2ac7-425c-8074-80706dda6fb6">
                        <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-line-mixed-chart.js-->
                        <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                        <div class="echart-bar-line-chart-example" style="min-height: 350px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-b5e61446-bdf5-4de6-861b-b6dfc62d79ad" id="dom-b5e61446-bdf5-4de6-861b-b6dfc62d79ad">
                        <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-line-mixed-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-bar-line-chart-example&quot; style=&quot;min-height: 350px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">Water fall chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                            <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-ffca6b0d-8740-4b30-8601-4e36f5964ffe" type="button" role="tab" aria-controls="dom-ffca6b0d-8740-4b30-8601-4e36f5964ffe" aria-selected="true" id="tab-dom-ffca6b0d-8740-4b30-8601-4e36f5964ffe">Preview</button>
                            <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-f376f3a8-7bdc-4567-b725-95c3266442ad" type="button" role="tab" aria-controls="dom-f376f3a8-7bdc-4567-b725-95c3266442ad" aria-selected="false" id="tab-dom-f376f3a8-7bdc-4567-b725-95c3266442ad">Code</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-body-tertiary">
                <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-ffca6b0d-8740-4b30-8601-4e36f5964ffe" id="dom-ffca6b0d-8740-4b30-8601-4e36f5964ffe">
                        <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-waterfall-chart.js-->
                        <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                        <div class="echart-nightfall-chart-example" style="min-height: 350px;" data-echart-responsive="true"> </div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-f376f3a8-7bdc-4567-b725-95c3266442ad" id="dom-f376f3a8-7bdc-4567-b725-95c3266442ad">
                        <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-waterfall-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-nightfall-chart-example&quot; style=&quot;min-height: 350px;&quot; data-echart-responsive=&quot;true&quot;&gt; &lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-3">
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">Bar timeline Chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                            <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-e253cce9-f939-4f29-b52c-38ace8450272" type="button" role="tab" aria-controls="dom-e253cce9-f939-4f29-b52c-38ace8450272" aria-selected="true" id="tab-dom-e253cce9-f939-4f29-b52c-38ace8450272">Preview</button>
                            <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-d0125aa8-d74a-426b-8d9b-961e75706e87" type="button" role="tab" aria-controls="dom-d0125aa8-d74a-426b-8d9b-961e75706e87" aria-selected="false" id="tab-dom-d0125aa8-d74a-426b-8d9b-961e75706e87">Code</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-body-tertiary">
                <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e253cce9-f939-4f29-b52c-38ace8450272" id="dom-e253cce9-f939-4f29-b52c-38ace8450272">
                        <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-timeline-chart.js-->
                        <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                        <div class="echart-bar-timeline-chart-example" style="min-height: 450px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-d0125aa8-d74a-426b-8d9b-961e75706e87" id="dom-d0125aa8-d74a-426b-8d9b-961e75706e87">
                        <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-timeline-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-bar-timeline-chart-example&quot; style=&quot;min-height: 450px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">Stacked vertical chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                        <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                            <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-79a2851a-961c-45ad-ac5e-8be1f8f3c444" type="button" role="tab" aria-controls="dom-79a2851a-961c-45ad-ac5e-8be1f8f3c444" aria-selected="true" id="tab-dom-79a2851a-961c-45ad-ac5e-8be1f8f3c444">Preview</button>
                            <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-e4a9b2b9-542a-41eb-a94c-96ff8620cce5" type="button" role="tab" aria-controls="dom-e4a9b2b9-542a-41eb-a94c-96ff8620cce5" aria-selected="false" id="tab-dom-e4a9b2b9-542a-41eb-a94c-96ff8620cce5">Code</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body bg-body-tertiary">
                <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-79a2851a-961c-45ad-ac5e-8be1f8f3c444" id="dom-79a2851a-961c-45ad-ac5e-8be1f8f3c444">
                        <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/stacked-vertical-chart.js-->
                        <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                        <div class="echart-stacked-vertival-chart-example" style="min-height: 450px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-e4a9b2b9-542a-41eb-a94c-96ff8620cce5" id="dom-e4a9b2b9-542a-41eb-a94c-96ff8620cce5">
                        <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/stacked-vertical-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-stacked-vertival-chart-example&quot; style=&quot;min-height: 450px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>